<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Authentificqtion</title>
<link rel="stylesheet" type="text/css" 
href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="container p-3 col-md-12">
		<div class="row">
			<div class="card p-3 col-md-4 offset-md-4">
				<div class="card-header bg-primary">Authentification</div>
				<div class="card-body">
					<div th:if="${param.error}" class="text-danger">
						Incorrect username or password
					</div>
					<div th:if="${param.logout}" class="text-danger">
						you have been logged out 
					</div>
					<form th:action="@{/login}" method="post">
						<div class="form-group">
							<label>Username</label>
							<input type="text" name="username" class="form-control" />
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control" />
						</div>
						<button type="submit" class="btn btn-primary">login</button>
					</form>
				</div>
			</div>
	</div>
</body>
</html>